/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --default-font: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --heading-font: "Inter", sans-serif;
  --nav-font: "Inter", sans-serif;

  /* Dark Mode Colors */
  --background-color: #000000;      /* Main page background */
  --surface-color: #1e1e1e;         /* Card and container backgrounds */
  --default-color: rgba(255, 255, 255, 0.7);         /* Default text */
  --heading-color: #ffffff;         /* Heading text */
  --accent-color: rgba(255, 255, 255, 0.5);          /* Buttons/links etc */
  --contrast-color: #101010;        /* Light text on accent backgrounds */

  /* Nav Menu Colors */
  --nav-color: #e0e0e0;
  --nav-hover-color: var(--accent-color);
  --nav-mobile-background-color: #1e1e1e;
  --nav-dropdown-background-color: #1e1e1e;
  --nav-dropdown-color: #ffffff;
  --nav-dropdown-hover-color: #1bfd9c;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
  padding-top: 100px;
  padding-bottom: 150px;
}

a {
  /* color: var(--accent-color); */
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  /* color: color-mix(in srgb, var(--accent-color), transparent 25%); */
  color: white;
  text-decoration: underline;
}

p {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: 400;
}
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  min-width: 200px;
}

.header.header-show {
  left: 0;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, white, transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

@media screen and (max-width: 768px) {
    .hero img{
      width: 110px !important;
      height: 110px !important;
    }

    h3{
      font-size: 20px;
    }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  overflow: clip;
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title p {
  margin-bottom: 0;
}

.hero-inner {
  max-width: 700px;
  width: 100%;
}


.hero .social-links a {
  font-size: 20px;
  display: inline-block;
  color: color-mix(in srgb, var(--accent-color), transparent 10%);
  line-height: 1;
  margin-right: 10px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: white;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 80px;
  }

  .hero p {
    font-size: 23px;
  }

  .hero .social-links i{
    font-size: 18px;
  }

  .hero img{
    width: 70%;
    height: 70%;
  }
}

/*--------------------------------------------------------------
# projects Section
--------------------------------------------------------------*/
.projects .project-item {
  background-color: var(--contrast-color);
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  max-width: 370px;
  width: 100%;
  padding: 16px;
  border-radius: 26px;
  text-align: center;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.projects .project-item .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.projects .project-item:hover {
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item+.info-item {
  margin-top: 40px;
}

.contact .info-item i {
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}


/*--------------------------------------------------------------
# project Details Section
--------------------------------------------------------------*/
.project-details .project-box {
padding: 20px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  display: flex;
}

.project-details .project-box+.project-box {
  margin-top: 30px;
}

.project-details .project-box h4 {
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 92%);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.project-details .projects-list a {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-top: 15px;
  transition: 0.3s;
}

.project-details .projects-list a:first-child {
  margin-top: 0;
}

.project-details .projects-list a i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--accent-color);
}

.project-details .projects-list a.active {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.project-details .projects-list a.active i {
  color: var(--contrast-color);
}

.project-details .projects-list a:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
  color: var(--accent-color);
}

.project-details .download-catalog a {
  color: var(--default-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
  border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.project-details .download-catalog a:first-child {
  border-top: 0;
  padding-top: 0;
}

.project-details .download-catalog a:last-child {
  padding-bottom: 0;
}

.project-details .download-catalog a i {
  font-size: 24px;
  margin-right: 8px;
  color: var(--accent-color);
}

.project-details .download-catalog a:hover {
  color: var(--accent-color);
}

.project-details .help-box {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  margin-top: 30px;
  padding: 30px 15px;
}

.project-details .help-box .help-icon {
  font-size: 48px;
}

.project-details .help-box h4,
.project-details .help-box a {
  color: var(--contrast-color);
}

.project-details .projects-img {
  margin-bottom: 20px;
}

.project-details h3 {
  font-size: 26px;
  font-weight: 700;
}

.project-details p {
  font-size: 15px;
}

.project-details ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.project-details ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.project-details ul i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}

.tech-stack{
  border-radius: 10px;
  background-color: black;
  color: white !important;
  text-align: center;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  font-style: normal;
  text-transform: capitalize;
  cursor: default;
}
.tech-stack-wrapper {
  display: flex; 
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: 10px;
}

.source-code i {
  color: rgb(107, 103, 103) !important;
  transition: color 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}
.source-code:hover, 
.source-code:hover i {
  color: white !important;
  text-decoration: none;
}

@media (max-width: 768px) {
  .source-code i {
    font-size: 20px;
  }
}

.text-dim-2 {
  color: var(--accent-color);
}

.text-dim-1 {
  color: var(--default-color);
}
